<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Session - User</h2>
        <p>
            <%= baseUrl %>
        </p>
        <a href="<%= baseUrl %>/register">Register</a> |
        <a href="<%= baseUrl %>/login">Login</a> |
        <a href="<%= baseUrl %>/dashboard"><b>Dashboard</b></a>
    </div>
</body>

</html>